.banner-section{
    background-color: #efefef;
}
.heading-title {
    font-size: 70px;
}
.banner{
    border-radius: 30px;
}

@media (max-width: 565px) {
    .heading-title {
        font-size: 30px;
    }
}